{% load static %}
<p>The completely free game engine Defold solves the technical issues we all have in common when making games. That way, you can focus on being creative and <strong>building great games</strong>.</p>
<p style="font-size: 1.25rem">
    <span class="video-trigger" data-action="lightboxOpen" data-action-payload="{&quot;index&quot;:0,&quot;items&quot;:[{&quot;mediaType&quot;:&quot;YOUTUBE&quot;, &quot;url&quot;:&quot;https://www.youtube.com/embed/QTiX_4tGXXA?autoplay=1&amp;rel=0&quot;}]}"><img src="{% static "arrows-and-bullets/circle-arrow.png" %}" alt="Play icon" style="width: 1.875rem;" class="play-icon"> <span>Defold in action <span class="nowrap">(1:25 min)</span></span></span></p>
